<!DOCTYPE html>
<html>
<head>
  <title>Blogger2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="flash"><%= flash.notice %></p>
<%= yield %>
<hr>
	<h6 style="text-align:center">
		created by <a href="https://github.com/Salomanuel">Salomanuel</a><br>
		using the <a href="http://tutorials.jumpstartlab.com/projects/blogger.html">Blogger2 Tutorial by Jumpstartlab
	</h6>
</body>
</html>
